
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'MyFontCursive';
  src: local('MyFont'), url(./fonts/Roboto-Italic.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'MyFont'
    sans-serif;
    font-family: 'MyFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-family: 'MyFont';
}
